
:root{
    --primary: #0f2542;
    --secoundary: #14a2ec;
    --default: #f7f7f7;
    --black: #000000;
    --font-default: #666666;
    --left-icon: url('img/chevron-left.svg');
}
body{
    background-color: #2e303d;
    min-height: 100vh;
    
}
header{
    background-color: var(--primary);
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
main{
    min-height: 70vh;
}
footer{
    background-color: var(--primary);
    height:90px;
    width:100%;
    margin-top:100px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.sub-header{
    padding-left: 40px;
    background-color: #d3d3d3;
    margin-bottom:50px;
    height: 25px;
    color: #000000;
}

/*default*/
.form-default{
    margin:0 auto;
    width:60%;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 25px;
}
.main-title{
    font-size: 34px;
    text-align: center;
    color: #ffff;
}
.title-b{
    font-size: 34px;
    text-align: center;
    color: #000000;
}
.header-title{
    color: white;
    font-size: 25px;
    margin: auto;
}
.login-box{ 
    width: 30%;
    margin: auto;
    height: 70%;
    border-radius: 20%;
}
.txt-center{
    text-align: center;
}
.txt-left{
    text-align: left;
}
.txt-white{
    color: white;
}

/*tables*/
.table{
    border:solid 2px #e5e5e5;
    padding:5px;
    overflow-x: scroll;
}
.table-container{
    width: 50%;
    margin: auto;
    height: 70%;
    border-radius: 20px;
    
}
.table-deco{
    margin: auto;
    border-radius: 20px;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}
.table-larger{
    width: 80%;
}


/*blocks*/
.block{
    width: 150px;
    height: 150px;
    background: linear-gradient(rgba(255, 255, 255, 0.795),rgba(0,0,1,0.123)100%), center ;
    margin: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius:10px;
}
.block-link{
    text-decoration:none !important;
}
.block-link:hover{
    -moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
    transition-duration: 0.5s ;
}
.block-large {
    width: 170px;
    height: 170px;
    background: linear-gradient(rgba(255, 255, 255, 0.795),rgba(0, 0, 1, 0.384)100%), center ;
    margin: 17px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius:10px;
}
.icon-practicles{
    width:50px;
    height:50px;
}
.card-title{
    width:100%;
    text-align: center;
    color:#000000;
    font-weight: bold;
    font-size: 18px;
}


/*practicles*/
.practicles-container {
    height: auto;
    justify-content: left;
}
.practicles-container{
    margin: 0 auto;
    width: 55%;
    display:flex;
    justify-content: left ;
    align-items: left ;
    height: 150px;
}


/*rever*/
main{
    min-height: 100vh;
    margin-top: 20px;
    background-color:initial;
}


/*form*/
.form-padding{
    padding-right: 9%;
    padding-left: 3.5%;
}
.form-small{
    width: 30%;
    float: left;
    margin-left: 30px;
}
.form-medium{
    width: 40%;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}
.form-med-larger{
    width: 50%;
    float: left;
    margin-left: 60px;
}
.form-more-larger{
    width: 63.5%;
    float: left;
    margin-left: 30px;
}
.form-med-lar-left{
    width: 50%;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}
.btn-right{
    width: 30%;
    float: right;
    margin-top: 30px;
    padding-right: 9%;
}
.btn-link{
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
    border-color: #ffffffb0;
}
.small-mleft{
    margin-left: 4%;
}
.medium-mleft{
    margin-left: 7%;
}
.large-mleft{
    margin-left: 14.3%;
}
.mright{
    margin-left: 83%;
}
.no-marge{
    margin-left: 0;

}


/*controls*/
.containerbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.5);
    }
button{

    border-radius: 50px;
    background: #ffffffb4;
        
}
.btn-controls{
    margin: 50px;
    padding: 5px 10px;
    transform: scale(2);
    border: none;
}


















.button-default{
    background-color: var(--primary);
    border: none;
}
.button-default:hover{
    background-color: var(--secoundary);
}
.btn-primary{
    background-color:  var(--primary);
    border-color: none;
    color: #ffff;
}
.btn{
    margin: 0 5px;
}
.button-container{
    display:flex;
    justify-content: right;
}
.main-container{
    display:flex;
    margin: 50px auto;
    display: flex;
    justify-content: left;
    width:75%;
    /*width: 75%; apenas se não tiver a classe container*/ 
}
.button-container-center{
    padding: 0 auto;
    text-align: center;
}

.button-container-right{
    margin-top: 25px;
    display:flex;
    justify-content: right;
}

.icon-button{
    width: 22px;
    height: 22px;
    margin: 5px;
}
.icon{
    width: 60px;
    height: 60px;
    margin: 0 50px;
}

.search-bar{
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}
.paginate {
    margin: 32px auto;
}

.pwd-requirements{
    color: #ff0000;
    font-size: 12px;
    float: left;
    
    padding-top: 4%;
}
.recaptcha{  
    float: right;
    margin-top: 30px;
    padding-right: 9%;
}



/*responsive*/
@media(min-width: 1500px){
    .header-title{
        margin-right: 35%;
    }
}
@media(min-width: 1250px) and (max-width: 1500px){
    .header-title{
        margin-right: 25%;
    }
}
@media(min-width: 1150px){
    .header-title{
        margin-right: 30%;
    }
}
/*acesso mobile*/
@media(max-width: 1050px){
    .login-box{
        width: 50%;
        margin: auto;
        height: 70%;
    }
}
@media(max-width: 900px){
    .header-title{
        font-size: 20px;
    }
}
@media(max-width: 770px){
    .header-title{
        font-size: 15px;
    }
}
@media(max-width: 550px){
    .login-box{
        width: 80%;
        margin: auto;
        height: 70%;
    }
    .header-title{
        font-size: 14px;
        margin-left: 10%;
    }
}
@media(max-width: 300px){
    .login-box{
        width: 90%;
        margin: auto;
        height: 70%;
    }
}

